// cspell:ignore wght, opsz
$material-symbols-font-path: 'material-symbols/';

@import 'material-symbols';
@import 'roboto-fontface/css/roboto/roboto-fontface.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
