$material-symbols-font-path: 'material-symbols/';

@import 'material-symbols';
@import 'roboto-fontface/css/roboto/roboto-fontface.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
